<div class="container-fluid pt-4">
  <h4><%= I18n.t 'views.edit_proponent' %></h4>

  <%= render "form", proponent: @proponent %>

  <br>

  <div>
    <%= link_to I18n.t('views.show_proponent'), @proponent, class: 'btn btn-info' %> |
    <%= link_to I18n.t('views.back_proponents'), proponents_path, class: 'btn btn-secondary' %>
  </div>
</div>