<div class="container-fluid pt-4">
  <% if notice.present? %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>

  <%= render 'proponents/proponent_detail', proponent: @proponent %>

  <div>
    <div  class="mb-3">
      <%= link_to I18n.t('views.edit_proponent'), edit_proponent_path(@proponent), class: 'btn btn-primary' %> |
      <%= link_to I18n.t('views.back_proponents'), proponents_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>